:root {
  --themeColor: hsl(226, 65%, 50%);
  --bgColor: hsl(226, 65%, 30%);
}

.cat-card {
  width: 450px;
  height: 390px;
  margin: 0;
  padding: 16px 0 0 40px;
  border: 1px dashed #333;
  border-radius: 10px;
}

.cats-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 40px);
  grid-gap: 10px;
  font-size: 1.3em;
}

.cat-name {
  text-align: center;
  padding: 5px;
  background-color: var(--bgColor, #333);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.cat-name:hover {
  background-color: var(--themeColor, #333);
}

.card-image {
  width: 100%;
  max-width: 400px;
  border: 3px solid var(--themeColor, #333);
  transform: scale(1);
  transition: transform 0.2s;
}

.cat-image:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.card-caption {
  font-style: italic;
  margin-bottom: 0.5em;
}

.counter {
  font-size: 1.2em;
}
