#cat-clicker {
  display: flex;
}

img {
  width: 100%;
  border: 3px solid hsl(226, 65%, 70%);
  transform: scale(1);
  transition: transform 0.2s;
}

img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

figcaption {
  font-style: italic;
  margin-bottom: 0.5em;
}

strong {
  font-size: 1.2em;
}
