<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Dmitry Sharabin">
  <meta name="description" content="Udacity. Front-End Web Developer Nanodegree Program. Cat Clicker Project">
  <meta name="keywords" content="HTML,CSS,JavaScript,Udacity,Nanodegree">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cat Clicker</title>
  <link rel="stylesheet" href="css/app.css">
  <!-- development version of Vue.js, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <header>
    <h1>Cat Clicker</h1>
  </header>
  <main id="cat-clicker">
    <ul class="cats-list">
      <li class="cat-name" v-for="cat in cats" @click="currentCat = cat">{{ cat.name }}</li>
    </ul>
    <figure class="cat-card">
      <figcaption class="card-caption">{{ currentCat.name }}</figcaption>
      <img class="card-image" @click="incCounter()" :src="currentCat.src" alt="Picture of some cat" title="Click Me!">
      <p>{{ currentCat.name }} was clicked <strong class="counter">{{ currentCat.clickCounter }}</strong> {{ currentCat.clickCounter === 1 ? 'time' : 'times'}}.</p>
    </figure>
    <button @click="isAdminModeOn = true">Admin</button>
    <form @submit.prevent="updateCat" @reset.prevent="isAdminModeOn = false" class="admin-panel" v-if="isAdminModeOn">
      <label>
        Name:
        <input type="text" :value="currentCat.name">
      </label>
      <label>
        URL:
        <input type="text" :value="currentCat.src">
      </label>
      <label>
        Clicks:
        <input type="number" :value="currentCat.clickCounter" min="0">
      </label>
      <button type="reset">Cancel</button>
      <button type="submit">Save</button>
    </form>
  </main>
  <script src="js/app.js"></script>
</body>
</html>
